@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-azul: #01061d;
  --color-blanco: #FFF;
}

.body-registro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

.container-registro-main {
  border: 2px solid rgb(196, 193, 193);
  width: 50%;
  height: 60%;
  border-radius: 6px;
  background-color: var(--color-blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-registro-form{
  width: 100%;
  overflow: hidden;
}

.container-registro-form form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.container-registro-form h2 {
  font-size: clamp(0.8rem, 2vw, 1.6rem);
  text-align: center;
  margin: 10px auto;
  color: var(--color-azul);
}

.container-registro-form p {
  font-size: clamp(0.7rem, 2vw, 1rem);
  text-align: center;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.container-registro-input {
  width: 70%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  gap: 8px;
  background-color: #EEEEEE;
  border-radius: 5px;
}

.container-registro-input input {
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.container-input-radio{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #757575fa;
}

.container-input-radio div{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-registro-texto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0 0 0 40%;
  background-color: var(--color-azul);
  color: var(--color-blanco);
}

.container-registro-texto img {
  width: 20%;
  margin: 20px auto;
}

.container-registro-texto h3 {
  font-size: clamp(1rem, 3vw, 4rem);
  margin-bottom: 20px;
}

/*BOTONES*/
.btn {
  height: 45px;
  font-size: clamp(0.5rem, 2vw, 0.8rem);
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-blanco);
  color: var(--color-azul);
  cursor: pointer;
}

.btn-registro-principal:hover {
  width: 70%;
  background-color: var(--color-azul);
  color: var(--color-blanco);
  transition: 0.5s ease-in-out;
}

 #boton-ventana-inicio{
  border: 2px solid var(--color-blanco);
  color: var(--color-blanco);
  background-color: var(--color-azul);
  margin-bottom: 20px;
  padding: 10px;
}

#boton-ventana-inicio:hover {
  border-top: none;
  border-right: none;
}

.message-error {
  width: 60%;
  font-weight: 400;
  font-size: 13px;
  color: #f31919;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width:600px) {
  .container-registro-main {
    min-width: 70%;
    height: 70%;
    flex-direction: column-reverse;
  }

  .container-registro-form {
    height: 70%;
  }

  .container-registro-input {
    margin-top: 2px;
  }

  .container-registro-texto {
    height: 50%;
  }

  .container-registro-texto img {
    width: 10%;
  }

  .btn-registro {
    margin-top: 0;
    height: 35px;
  }
}

